/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: LightSkyBlue;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: white;
    margin: 0;
    padding-left: 10px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

header nav a:hover {
    color: blue;
}

header img {
    height: auto;
    max-width: 100px;
}

section {
    padding: 50px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    background-image: images/image 1.jpeg;
    color: lightskyblue;
    text-align: center;
}

/* Image Upload and Preview */
.upload-container {
    text-align: center;
    margin: 20px;
}

#imagePreviewContainer {
    margin-top: 20px;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ccc;
    width: 400px;
    height: 400px;
    position: relative;
}

#imagePreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

#imagePreview.zoomed {
    transform: scale(2);
    cursor: zoom-out;
}

/* Footer and Cookie Banner */
footer {
    background-color: white;
    color: LightSkyBlue;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-section {
    flex: 1;
    min-width: 150px;
    margin: 0;
    padding: 0;
}

footer .footer-section h3 {
    margin-bottom: 10px;
}

footer .footer-section ul {
    list-style: none;
    padding: 0;
}

footer .footer-section ul li {
    margin: 5px 0;
}

footer .footer-section ul li a {
    color: black;
    text-decoration: none;
}

footer .footer-section ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.875rem;
    }

    section {
        padding: 20px 10px;
    }
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #59A3D5;
    color: white;
    text-align: center;
    padding: 1rem;
    display: none;
    z-index: 9999;
}

.cookie-banner p {
    margin: 0;
}

.cookie-banner button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.cookie-banner button:hover {
    background-color: #ccc;
}
